<div class="jumbotron">
<h1>Niels Hanson</h1>
<p class="lead">Big Data scientist and software developer.</p>
<!-- <p><a class="btn btn-lg btn-success" href="#" role="button">CV</a> <a class="btn btn-lg btn-success" href="#" role="button">Resume</a></p> -->
</div>
<div class="row marketing">
	<p class="lead"><i>Many fields, including computational biology, marketing, engineering, business intelligence, and finance, are being rapidly transformed by the advent of Big Data. While such data offers great promice of insight, capitalizing and extracting such data requires high-performance computing, distributed algorithms, and novel statistical and visualization techiques equiped to handle this data. My interests are to create high-performance algorithms and user-friendly software that aims to bring the end-user closer to the data and the story within it.</i>
	</p>
</div>
<div class="row marketing">
<div class="col-lg-6">